nav .navbar-brand
{
    font-size: xx-large;
}

nav .navbar-brand .gray
{
    color: #828282;
}

main .form-control
{
    display: inline-block;
}

.column {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

main
{
    overflow-x: auto;
    text-align: center;
}

main img
{
    max-width: 100%;
}
